
/* ========================= Reset Margin & Padding to 0 =========================*/

h1, h2, h3, h4, h5, h6, p, body {
	margin: 0;
	padding: 0;
}

/* ========================= Background Image and Color =========================*/

body {
	background: url('../images/header_bg.jpg') repeat-x #f0f0f0;
	color: #ccc;
}

/* ========================= Page Wrapper =========================*/

#page-wrapper {
	width: 960px;
	margin: 0 auto;
	background: white;
}

/* ========================= Header =========================*/

header {
	width: 960px;
	height: 150px;
	overflow: hidden;
	margin: 0 auto;
}

header h1 {
	float: left;
	color: #fff;
	font-size: 40px
}

header ul {
	width: 350px;
	height: 50px;
	float: right;
}

header ul li {
	width: 100px;
	height: 50px;
	margin: 0 10px 0 0;
	float: left;
	text-decoration: none;
	list-style: none;
}
/* ========================= Heading 1 =========================*/

#cta {

	font-family: Arial, sans-serif;
	color: #061917;
	padding: 10px;
	line-height: 25px;
}

/* ========================= Section =========================*/

section {
	font-family: Arial, sans-serif;
	float: left
}

/* ========================= side =========================*/

aside {
	width: 360px;
	float: left;
}

/* =========================  =========================*/

/* =========================  =========================*/

/* ========================= footer =========================*/
footer {
	clear: both;
}